* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

  --title-size: "Inter", serif, 24px;
  --title-line-height: "Inter", serif, 32px;
  --title-weight: "Inter", serif, bold;
  --title-label: "Inter", serif, 16px;
  --title-label-line-hight: "Inter", serif, 20px;
  --title-label-weight: "Inter", serif, auto;
  --title-para-size: "Inter", serif, 16px;
  --title-para-line-height: "Inter", serif, 20px;
  --title-para-weight: "Inter", serif, medium;
  --title-link-size: "Inter", serif, 14px;
  --title-link-line-height: "Inter", serif, 16px;
  --title-link-weight: "Inter", serif, medium;
  --title-title: "Sora", serif;
  
}

body {
  overflow: hidden;
  background-color: var(--background-primary);
}

header {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  font-family: var(--title-title);
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40%;
}

.navigation-buttons a {
  text-decoration: none;
  color: var(--color-brand);
  font-family: var(--title-title);
  padding-bottom: 10px;
}

.pg-title {
  font-family: var(--title-title);
  padding-top: 10px;
}

.title {
  padding-top: 20px;
  display: flow;
  text-align: center;
}

.img-2 {
  position:initial;
  padding-top: 50px;
}

.field {
  display: flex;
  justify-content: flex-start;
  padding: 30px 0px;
  width: 100%;
}

.input-add {
  background-color: var(--always-white);
  border-radius: 12px;
  width: 36%;
  border: 2px solid var(--border-primary);
  margin-right: 10px;
  height: 46px;
  font-family: var(--title-title);
  text-indent: 10px; 
}

.input-add:hover {
  background-color: var(--border-primary);
}

.input-add::placeholder {
  text-indent: 10px; 
}

.input-add:focus {
  outline: transparent;
  border: 2px solid var(--color-brand);
}

.button-add {
  width: 160px;
  height: 46px;
  gap: 10px; 
  border-radius: 12px;
  background-color: var(--color-brand);
  color: var(--always-white);
  font-weight: bold;
  border: none;
}

.button-add:hover {
  background-color: var(--color-brand-hover);  
}

.button-delete {
  border: none;
  background-color: white;
  cursor: pointer;
}

.button-delete:hover {
  color: var(--color-danger);
}

.list {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.item-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--always-white);
  padding: 14px 12px;
  border-radius: 12px;
  align-items: center;
  margin-bottom: 10px;
}

.item-description {
  display: flex;
  align-items: center;
}

.item-description label {
  font-family: var(--title-title);
}

.delete {
  text-decoration: none;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border-radius: 30%;
  position: relative;
  margin-right: 1rem;
  border: 2px solid var(--border-primary);

  transition: background-color 0.1s;
}

input[type="checkbox"]:checked {
  background-color: var(--color-brand-hover);
  border: 2px solid var(--color-brand-hover);
}

input[type="checkbox"]:checked + label {
  color: var(--content-tertiary);
  text-decoration: line-through;
  transition: background-color 0.3s;
}

input[type="checkbox"]:checked::after {
  content: '';
  top: 2px;
  left: 5px;
  width: 6px;
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

input:hover {
  background-color: var(--border-primary);
}