* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

  --title-size: "Inter", serif, 24px;
  --title-line-height: "Inter", serif, 32px;
  --title-weight: "Inter", serif, bold;
  --title-label: "Inter", serif, 16px;
  --title-label-line-hight: "Inter", serif, 20px;
  --title-label-weight: "Inter", serif, auto;
  --title-para-size: "Inter", serif, 16px;
  --title-para-line-height: "Inter", serif, 20px;
  --title-para-weight: "Inter", serif, medium;
  --title-link-size: "Inter", serif, 14px;
  --title-link-line-height: "Inter", serif, 16px;
  --title-link-weight: "Inter", serif, medium;
  --title-title: "Sora", serif;
  
}

body {
  overflow: hidden;
  background-color: var(--background-primary);
}

header {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  font-family: var(--title-title);
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40%;
}

.navigation-buttons a {
  text-decoration: none;
  color: var(--color-brand);
}

.pg-title {
  font-family: var(--title-title);
}

.title {
  padding-top: 20px;
  display: flow;
  text-align: center;
}

.img-2 {
  position:initial;
  padding-top: 50px;
}

.field {
  display: flex;
  justify-content: flex-start;
  padding: 30px 0px;
  width: 100%;
}

input {
  background-color: var(--always-white);
  border-radius: 12px;
  width: 36%;
  border: 2px solid var(--border-primary);
  margin-right: 10px;
}

input::placeholder {
  text-indent: 10px; 
}

button {
  width: 160px;
  height: 40px;
  gap: 10px; 
  border-radius: 12px;
  background-color: var(--color-brand);
  color: var(--always-white);
  font-weight: bold;
  border: none;
}

.check {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.morning {
  height: 40px;
  width: 30%;
  
}

.items {
  border-width: 30px; 
  border-style: solid; 
  border-color: #D1D5DB;
  background-color: #D1D5DB;
  gap: 10px;
  border-radius: 12px;
  width: 20%;
  height: 20px;
  
}